.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 50px;
  gap: 17px;
  padding-top: 50px;
  max-width: 880px;
  padding: 0;
}

.gallery__card {
  width: 100%;
  height: 361px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;

}
.gallery__card-image {
  max-width: 282px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.gallery__card-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;

 }

.gallery__card-text {
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;


}

.gallery__card-like {

  justify-content: flex-end;
  border: none;
  width: 21px;
  height: 19px;
  margin-top: 30px;
  background-color: transparent;
}


@media screen and (max-width: 1080px) {
  .gallery {
    grid-template-columns: repeat(2, 2fr);
    max-width: 550px;
  }
}
@media screen and (max-width: 550px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    max-width: 282px;
    padding-left: 19px;
    padding-right: 19px;
    gap: 20px;
  }
}


