.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 50px;
  gap: 17px;
  padding-top: 50px;
  max-width: 880px;
  padding: 0;
}

.card{
  position: relative;
  width: 280px;
  height: 361px;
   border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.card__text{
  width: 100%;
  padding: 25px 15px 31px 21px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}


.card__name{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  margin: 0;
  padding: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: center;
  justify-content: space-evenly;
  gap: 5px;
}
.card__delete-icon {
  background-image: url(../images/delatebutton.svg);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.card__image{
  max-width: 282px;
  height: 282px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}


.gallery__card-like  {
  width: 20px;
  height: 20px;
  background-image: url(../images/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
}

.card__like-icon_active{
  background-image: url(../images/like-black.svg);
  cursor: pointer;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1080px) {
  .gallery {
    grid-template-columns: repeat(2, 2fr);
    max-width: 550px;
  }
}
@media screen and (max-width: 550px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    max-width: 282px;
    padding-left: 19px;
    padding-right: 19px;
    gap: 20px;
  }
}


