.body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}


@media screen and (max-widht: 320px) {

}